BASE_URL=http://localhost:8787



SALLA_CLIENT_ID=
SALLA_CLIENT_SECRET=

SALLA_AUTH_URL=https://accounts.salla.sa/oauth2/auth
SALLA_TOKEN_URL=https://accounts.salla.sa/oauth2/token
WORKER_URL=http://localhost:8787

# Generate with: openssl rand -base64 32
ENCRYPTION_KEY=